body {
  background-color: #f8e8a6;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
a {
  display: inline-block;
  color: green;
  padding: 0 10px;
  margin: 0 auto;
}
footer {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}
.email {
  color: blue;
}
